<div
  valign="top"
  class="{{@visibility}} {{this.styleWhenParent}}"
  data-test-skill-list-row
  {{on "click" this.clickity}}
>
  {{@rowItem}}
  {{#each @rowGroup.items as |rowItem|}}
    <Car
      @rowGroup={{rowItem}}
      @rowItem={{rowItem.model}}
      @visibility={{this.visibility}}
    />
  {{/each}}
</div>