<KbForm
  @legend="Select images to uploadr."
  @buttonLabel="Submit Me"
  @buttonClass="kb-form-button"
  @actionSubmitHook={{this.actionValidateThenSubmit}}
>
  <KbForm::KbInputUpload
    @key="fileList"
    @value={{@model.fileList}}
    @fileType="image"
    @label="Upload Images"
    @uploadUrl="http://127.0.0.1:5000/"
    @required={{true}}
    @min={{3}}
    @max={{5}}
    @zoneClass="w-full border-2 border-dashed p-3"
    @dropZoneClass="absolute inset-0 m-3 border-2 border-dashed bg-white p-5 heading text-5xl text-gray-600 text-center align-middle"
    @uploadedClass="w-full p-3"
    @buttonClass="text-primary p-1 cursor-pointer"
    @changeHook={{this.actionOnValueChange}}
    @showValidations={{this.showValidations}}
    @validatorProgressHook={{this.actionValidatorProgress}}
  />
</KbForm>
