<KbForm
  @buttonLabel="Submit Me"
  @buttonClass="kb-form-button"
  @actionSubmitHook={{this.actionValidateThenSubmit}}
  @title="An Example Form"
  @helpText="Please fill out required fields."
>
  <KbForm::KbFieldset @legend="">
    <KbForm::KbInputString
      @key="firstName"
      @value={{@model.firstName}}
      @label="First Name"
      @max={{10}}
      @min={{3}}
      @required={{true}}
      @showValidations={{this.showValidations}}
      @validatorProgressHook={{this.actionValidatorProgress}}
    />
    <KbForm::KbInputString
      @key="lastName"
      @value={{@model.lastName}}
      @label="Last Name"
      @max={{10}}
      @min={{3}}
        @required={{true}}
      @helpText="Please enter your Last Name (minimum length is 3 characters maximum length is 10)"
      @showValidations={{this.showValidations}}
      @validatorProgressHook={{this.actionValidatorProgress}}
    />
    <KbForm::KbInputDate
      @key="dob"
      @value={{@model.dob}}
      @label="Date of Birth"
      @max="2020-01-01"
      @min="1950-01-01"
      @required={{true}}
      @showValidations={{this.showValidations}}
      @validatorProgressHook={{this.actionValidatorProgress}}
    />
    <KbForm::KbInputEmail
      @key="email"
      @value={{@model.email}}
      @label="Email"
      @required={{true}}
      @showValidations={{this.showValidations}}
      @validatorProgressHook={{this.actionValidatorProgress}}
    />
    <KbForm::KbInputSelect
      @key="day"
      @value={{@model.day}}
      @label="Day of Week"
      @required={{true}}
      @placeholder="Day of Week"
      @options={{@daysOfWeek}}
      @searchEnabled={{true}}
      @valueField="abbrev"
      @searchField="full"
      @showValidations={{@showValidations}}
      @validatorProgressHook={{@validatorProgressHook}}
      @dataTestRole={{@dataTestRole}}
    />
    <KbForm::KbInputBoolean
      @key="terms"
      @value={{@model.termsAccepted}}
      @label="Terms"
      @required={{true}}
      @showValidations={{this.showValidations}}
      @validatorProgressHook={{this.actionValidatorProgress}}
    />
  </KbForm::KbFieldset>
</KbForm>
