<KbForm
  @actionSubmitHook={{this.actionValidateThenSubmit}}
  @title="Example Editor"
>
  <KbForm::CkEditor
    @key="description"
    @value={{@model.description}}
    @label="Page HTML"
    @required={{true}}
    @placeholder="Type and format some text."
    @changeHook={{this.actionOnValueChange}}
    @showValidations={{this.showValidations}}
    @validatorProgressHook={{this.actionValidatorProgress}}
  />
</KbForm>
