<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>SimpleEmber</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://use.fontawesome.com/d7718f5d3c.js"></script>
    <link
      href="https://rsms.me/inter/inter.css"
      rel="stylesheet"
      type="text/css"
    />

    {{content-for "head"}}
    <link integrity="" rel="stylesheet" href="{{rootURL}}assets/vendor.css" />
    <link
      integrity=""
      rel="stylesheet"
      href="{{rootURL}}assets/simple-ember.css"
    />

    {{content-for "head-footer"}}
  </head>
  <body>
    {{content-for "body"}}

    <script type="text/javascript">
      window.CKEDITOR_BASEPATH = "{{rootURL}}assets/ckeditor/"
    </script>

    <script src="{{rootURL}}assets/vendor.js"></script>
    <script src="{{rootURL}}assets/simple-ember.js"></script>

    {{content-for "body-footer"}}
  </body>
</html>
