<KbWireframe>
  <KbWireframe::SideBar @appName="Simple Ember" @logoLink="home" @appLogo="/assets/img/logo.png">
    <KbWireframe::SideBar::LinkTo @route="form" @icon="fa-check-square" @title="Example Form"/>
    <KbWireframe::SideBar::LinkTo @route="ckeditor" @icon="fa-bold" @title="Example CK Editor"/>
    <KbWireframe::SideBar::LinkTo @route="upload" @icon="fa-cloud-upload" @title="Example Upload Form"/>
    <KbWireframe::SideBar::LinkTo @route="paginator" @icon="fa-list-ul" @title="Example Paginator"/>
    <KbWireframe::SideBar::LinkTo @route="groupby" @icon="fa-automobile" @title="Example Group By"/>
    <KbWireframe::SideBar::LinkTo @route="dash" @icon="fa-dashboard" @title="Example Dashboard"/>
    <KbWireframe::SideBar::LinkTo @route="taggitfilter" @icon="fa-filter" @title="Example Filter"/>
    <KbWireframe::SideBar::LinkTo @route="protected" @icon="fa-key" @title="Example Protected"/>
    {{#if this.session.isAuthenticated}}
      <KbWireframe::SideBar::LinkTo
        @icon="fa-lock"
        @title={{if @model.loggedInContact.value "{{ @model.loggedInContact.value.nameAbbrev }} Logout" "Logout"}}
        {{ on "click" this.logout }}
      />
    {{else}}
      <KbWireframe::SideBar::LinkTo @route="login" @icon="fa-unlock-alt" @title="Login"/>
    {{/if}}
  </KbWireframe::SideBar>

  <KbWireframe::Main @heading="Simple Ember" @userName="Patrick">
    {{outlet}}
  </KbWireframe::Main>
</KbWireframe>
