<KbWireframe::TopBar
  @title="Example CK editor"
  @userName="Patrick"
  @avatar="/assets/img/avatar.jpg"
/>
<SimpleCkeditor @model={{@model.html}} @actionSaveHook={{this.submitForm}} />

<h3>
  Tracking the Model
</h3>
<div class="border border-gray-600">
  {{@model.html.description}}
</div>

<h3>
  Value Submitted htmlSafe
</h3>
<div class="border border-gray-600">
  {{this.htmlValueSafe}}
</div>
