<KbWireframe::TopBar
  @title="Dashboard"
  @userName="Patrick"
  @avatar="/assets/img/avatar.jpg"
>
  <KbWireframe::TopBar::LinkTo @route="home" @icon="fa-reply" @text="Return" />
  <KbWireframe::TopBar::LinkTo @route="dash" @icon="fa-dashboard" @text="Dashboard" />
  <KbWireframe::TopBar::LinkTo @route="form" @icon="fa-check-square" @text="Form" />
  <KbWireframe::TopBar::LinkTo @route="paginator" @icon="fa-list-ul" @text="Paginator" />
  <KbWireframe::TopBar::LinkTo @route="groupby" @icon="fa-automobile" @text="Group By" />
</KbWireframe::TopBar>
<KbWireframe::Main::ToolBar>
  <LinkTo @route="home">
    <i class="fa fa-reply fa-fw"></i>
    <span class="hidden lg:inline">
    </span>
  </LinkTo>
  <LinkTo @route="dash">
    <i class="fa fa-dashboard fa-fw"></i>
    Example Dashboard
  </LinkTo>
  <LinkTo @route="form">
    <i class="fa fa-check-square fa-fw"></i>
    <span class="hidden lg:inline">
      Example Form
    </span>
  </LinkTo>
  <LinkTo @route="paginator">
    <i class="fa fa-list-ul fa-fw"></i>
    <span class="hidden lg:inline">
      Example Paginator
    </span>
  </LinkTo>
  <LinkTo @route="groupby">
    <i class="fa fa-automobile fa-fw"></i>
    <span class="hidden lg:inline">
      Example Group By
    </span>
  </LinkTo>
</KbWireframe::Main::ToolBar>

<KbWireframe::Main::Dashboard>
  <KbWireframe::Main::Dashboard::Group @groupName="Forms">
    <LinkTo @route="form">
      <i class="fa fa-check-square fa-fw"></i>
      Example Form
    </LinkTo>
    <LinkTo @route="ckeditor">
      <i class="fa fa-bold fa-fw"></i>
      Example CK Editor
    </LinkTo>
    <LinkTo @route="upload">
      <i class="fa fa-cloud-upload fa-fw"></i>
      Example Upload Form
    </LinkTo>
  </KbWireframe::Main::Dashboard::Group>
  <KbWireframe::Main::Dashboard::Group @groupName="Settings">
    <LinkTo @route="dash">
      <i class="fa fa-dashboard fa-fw"></i>
      Example Dashboard
    </LinkTo>
    <LinkTo @route="paginator">
      <i class="fa fa-list-ul fa-fw"></i>
      Example Paginator
    </LinkTo>
    <LinkTo @route="groupby">
      <i class="fa fa-automobile fa-fw"></i>
      Example Group By
    </LinkTo>
    <LinkTo @route="taggitfilter">
      <i class="fa fa-filter fa-fw"></i>
      Example Filter
    </LinkTo>
  </KbWireframe::Main::Dashboard::Group>
</KbWireframe::Main::Dashboard>
{{outlet}}
