<KbWireframe::TopBar
  @title="Example Form"
  @userName="Patrick"
  @avatar="/assets/img/avatar.jpg"
/>


<SimpleForm
  @model={{@model}}
  @daysOfWeek={{this.daysOfWeek}}
  @actionSubmitHook={{this.actionSubmitSimpleForm}}
/>
{{outlet}}
