<KbWireframe::TopBar
  @title="Example Group By: Nested Grouping"
  @userName="Patrick"
  @avatar="/assets/img/avatar.jpg"
/>
<table class="table-fixed w-full">
  <thead>
    <tr class="bg-gray-400">
      <th>
        Cars
      </th>
    </tr>
  </thead>
  <tbody>
    <KbGroupBy @groupBy="make" @items={{this.model}} as |makeList|>
      {{#each makeList as |makeGroup|}}
        <tr class="bg-gray-400">
          <th>
            {{makeGroup.value}}
          </th>
        </tr>
        <KbGroupBy @groupBy="shape" @items={{makeGroup.items}} as |shapeList|>
          {{#each shapeList as |shapeGroup|}}
            <tr class="bg-grey-400">
              <th>
                {{shapeGroup.value}}
              </th>
            </tr>
            {{#each shapeGroup.items as |car|}}
              <tr>
                <td class="text-center">
                  {{car.model}}
                </td>
              </tr>
            {{/each}}
          {{/each}}
        </KbGroupBy>
      {{/each}}
    </KbGroupBy>
  </tbody>
</table>

<h2>
  Example Group By: Hide/Show
</h2>

<KbGroupBy @groupBy="make" @items={{this.model}} as |makeList|>
  {{#each makeList as |groupedItem|}}
    <Car
      @rowGroup={{groupedItem}}
      @rowItem={{groupedItem.item.make}}
      @visibility="block"
    />
  {{/each}}
</KbGroupBy>
{{outlet}}
