<KbWireframe::TopBar
  @title="Home Page Route"
  @userName="Patrick"
  @avatar="/assets/img/avatar.jpg"
/>
<p>
  I am example content in the Home Page Route.
</p>
<h4>
  Contacts
</h4>
<ul>
  {{#each @model as |contact|}}
    <li>
      [{{contact.id}}] {{contact.fullName}}
    </li>
  {{/each}}
</ul>