<KbWireframe::TopBar
  @title="Example Quick Paginator"
  @userName="Patrick"
  @avatar="/assets/img/avatar.jpg"
/>
<KbQuickPaginator
  @id="jobs"
  @paginateBy={{9}}
  @items={{this.model}} as |jobsList|
  >
  <div>
  <table>
    <thead>
      <tr>
        <th class="text-left">
          Job
        </th>
        <th class="text-right">
          Salary
        </th>
        <th class="text-right">
          Positions Available
        </th>
        <th class="text-right">
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each jobsList as |job|}}
        <tr>
          <td class="text-left">
            {{job.job}}
          </td>
          <td class="text-right">
            {{job.salary}}
          </td>
          <td class="text-right">
            {{job.positions}}
          </td>
          <td class="text-right text-blue-500">
            <a href="#" alt="Edit">Edit</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  </div>
</KbQuickPaginator>
{{outlet}}
