<KbWireframe::TopBar
  @title="Protected Route"
  @userName={{ @model.loggedInContact.value.fullName }}
  @avatar="/assets/img/avatar.jpg"
/>

<p>
  {{#if @model.loggedInContact.isRunning}}
    Finding contact...
  {{else}}
    <b>
      This route is protected for {{@model.loggedInContact.value.fullName}}.
    </b>
  {{/if}}
</p>
{{outlet}}
