<KbWireframe::TopBar
  @title="Example Taggit Filter"
  @userName="Patrick"
  @avatar="/assets/img/avatar.jpg"
/>
<KbTaggitFilter
  @tags={{this.tags}}
  @items={{this.model}}
  @tagsMatch="tags"
  @textMatch="color"
  @small={{false}}
  @active={{true}} as |colorList|
>
  <table width="100%" class="table-fixed">
    <thead>
      <tr class="bg-greyLight">
        <th align="left">
          Colors
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each colorList as |color|}}
        <tr>
          <td align="left">
            {{color.color}}
            =
            {{color.tags}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</KbTaggitFilter>
{{outlet}}