<KbWireframe::TopBar
  @title="Example Uploader"
  @userName="Patrick"
  @avatar="/assets/img/avatar.jpg"
/>
<ExampleUploader
  @model={{@model.document}}
  @actionSaveHook={{this.submitForm}}
  @disabled={{this.disabled}}
/>

{{outlet}}